#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

%:
	dh $@

build:
	cp assets/logo/logo-circle.svg linux/business.braid.polycule.svg
	ln -s /opt/polycule/polycule linux/polycule
	flutter build linux --dart-define=POLYCULE_IS_STABLE=${POLYCULE_IS_STABLE} --dart-define=POLYCULE_VERSION=${POLYCULE_VERSION}
